#formy {
  font-weight: 600;
  color: #3A3A3A;
  line-height: 1.5;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    #formy {
      width: 75%; } }
  @media screen and (min-width: 769px) {
    #formy {
      width: 50%; } }
  @media screen and (max-width: 414px) {
    #formy {
      width: 100%; } }
  #formy #result {
    width: 100%;
    height: 50px;
    border: 1px solid #1abc9c;
    text-align: center;
    line-height: 50px;
    color: #1abc9c;
    font-size: 1.2em;
    margin-bottom: 40px;
    position: relative;
    border-radius: 4px;
    display: none; }
    #formy #result svg {
      fill: #1abc9c;
      width: 20px;
      margin-right: 10px;
      position: relative;
      top: 2px; }
    #formy #result.invalidRequest {
      border: 1px solid #e74c3c;
      color: #e74c3c; }
      #formy #result.invalidRequest svg {
        fill: #e74c3c; }
  #formy .input-field {
    position: relative;
    margin-bottom: 40px; }
    #formy .input-field i {
      position: absolute;
      left: 0;
      top: 0; }
      #formy .input-field i svg {
        width: 25px;
        fill: #3A3A3A;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        #formy .input-field i svg.active {
          fill: #1abc9c; }
        #formy .input-field i svg.invalid {
          fill: #e74c3c; }
    #formy .input-field input {
      background: none;
      border: none;
      border-bottom: 1px solid #3A3A3A;
      margin-left: 3.2em;
      width: calc((100% - 3.2em) - 50px);
      padding-right: 50px;
      position: relative;
      outline: none;
      line-height: 2.4em; }
      #formy .input-field input:focus {
        border-color: #1abc9c;
        box-shadow: 0 1px 0 0 #1abc9c; }
      #formy .input-field input.invalid {
        border-color: #e74c3c;
        box-shadow: 0 1px 0 0 #e74c3c; }
    #formy .input-field textarea {
      border: none;
      border-bottom: 1px solid #3A3A3A;
      margin-left: 3.2em;
      width: calc(100% - 3.2em);
      outline: none;
      resize: none;
      overflow: hidden;
      box-sizing: border-box;
      resize: none;
      line-height: normal;
      padding-top: 15px;
      font-family: inherit; }
      #formy .input-field textarea:focus {
        border-color: #1abc9c;
        box-shadow: 0 1px 0 0 #1abc9c; }
    #formy .input-field .lenghtCounter {
      position: absolute;
      right: 0;
      top: 0;
      font-weight: 400;
      display: none; }
      #formy .input-field .lenghtCounter span {
        font-size: 0.8em; }
    #formy .input-field label {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 2.35em;
      width: calc(100% - 2.35em);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      cursor: text;
      user-sect: none; }
      #formy .input-field label.active {
        top: -17px;
        font-size: calc(100% - 2px);
        margin-left: 2.65em;
        color: #1abc9c; }
      #formy .input-field label.invalid {
        color: #e74c3c; }
      #formy .input-field label.filled:not(.active) {
        font-size: calc(100% - 2px);
        margin-left: 2.65em;
        top: -17px; }
  #formy .submit {
    width: 120px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #1abc9c;
    margin-left: 3.2em;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #3A3A3A;
    text-align: left;
    padding-left: 20px;
    position: relative; }
    #formy .submit:hover {
      background-color: #1abc9c;
      color: #fff; }
      #formy .submit:hover svg {
        fill: #fff; }
    #formy .submit svg {
      fill: #1abc9c;
      width: 20px;
      position: absolute;
      right: 15px;
      top: 11px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
